{% extends 'base.html' %}
{% block title %}Edit Product{% endblock %}

{% block content %}
<h1>Edit Product</h1>
<form  method="post">
    {% csrf_token %}
    <label for="">Name</label>
    <input type="text" name="Name" value="{{product.Name}}" class="form-control mb-4" required>
    <label for="">Price</label>
    <input type="number" name="Price" value="{{product.Price}}" class="form-control mb-4" required>
    <label for="">Stock</label>
    <input type="number" name="Stock" value="{{product.Stock}}" class="form-control mb-4" required>
    <button type="submit" class="btn btn-primary ms-4">Update Product</button>
    <a href="{% url 'product_list' %}" class="btn btn-white shadow ms-4">Back</a>
</form>
{% endblock %}